.ui-content {
    margin:0; padding: 7px;
}

.ui-page {
	background:black;
}

.imgTile {
	margin:0px auto; 
	position:relative;
}
	.imgTileTitle {
		padding:5px; 
		font-size: 30px; 
		width:100%; 
		height:75px; 
		position:absolute; 
		background:rgba(0,0,0,0.6); 
		bottom:0; 
		color:white;
	}
	
	.loginButton {
		margin:10px auto; 
		padding:7px; 
		font-size: 25px; 
		width:80%; 
		background:rgba(39, 174, 96, 0.4); 
		color:white; 
		text-align:center;
	}
	
	.signupButton {
		margin:10px auto; 
		padding:7px; 
		font-size: 25px; 
		width:80%; 
		background:rgba(192, 57, 43, 0.4); 
		color:white;
	    text-align:center;
	}
	
.checkImg {
	position:absolute;
	right:0;
	top:50%;
	margin-top:-30px;
	margin-right:-30px;
}

#loginForm {
	margin:7px auto;
	margin-top:50px;
	background: white;
	width:100%;
	padding:20px;
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

#loginLogo {
	background:green;
	color:white;
	height: 75px;
	width: 75px;
	border-radius: 50%;
	position:relative;
	left:50%;
	margin-left:-32.5px;
	margin-top:-50px;
}

	#loginLogo label {
		position:relative;
		font-size:60px;
		font-family: 'Opel Sans';
		left:32.5px;
		margin-left:-12px;
	}

.inputText {
	width: 100%;
	height:35px;
	padding-left:6px;
	display: block;
	margin:10px auto;
	text-align:left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    border:1px solid #d9d9d9;
    border-top: 2.5px solid #d9d9d9;
    border-left: 2.5px solid #d9d9d9;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

	.inputText:focus {
		box-shadow: 0.5px 0.5px 10px #009DFF;
		-moz-box-shadow: 0.5px 0.5px 10px #009DFF;
	 	-webkit-box-shadow: 0.5px 0.5px 10px #009DFF;
	}

	.passValidation {
		box-shadow: 0.5px 0.5px 10px green;
		-moz-box-shadow: 0.5px 0.5px 10px green;
	 	-webkit-box-shadow: 0.5px 0.5px 10px green;
	}
	
	.failValidation {
		box-shadow: 0.5px 0.5px 10px red;
		-moz-box-shadow: 0.5px 0.5px 10px red;
	 	-webkit-box-shadow: 0.5px 0.5px 10px red;
	}

.errorPopup {
	display:none;
	background: rgba(0,0,0,0.6);
	width:300px;
	padding:5px;
	color:white;
	text-align:center;
	font-size:smaller;
	z-index: 10000;
}

.eventCard {
	margin:2px auto;
	background: white;
	width:100%;
	float:left;
	padding:10px;
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    border-left: 7px solid green;
}
	.userDetails {
		vertical-align: middle;
		width: 100%;
	}
	
	.imgFlyer {
		width: auto;
		max-width: 100%;
		height: auto;
		max-height: 250px;
	}
	
	#smallImage {
		width: auto;
		max-width: 100px;
		height: auto;
		max-height: 100px;
	}
	
	#txtEventCity {
		float: left;
		width: 52.5%;
		margin-right:2.5%;
		margin-top: -1px;
		display: none;
	}
	
	#txtEventState {
		float: left;
		width: 13%;
		margin-right:2.5%;
		margin-top: -1px;
		display: none;
	}
	
	#txtEventZipCode {
		float: left;
		width: 30%;
		margin-top: -1px;
		display: none;
	}

.profilePic {
	width:100px;
	height:100px;
	margin: 0 auto;
	border: 3px solid green;
	background: white;
	margin-bottom: 10px;
	margin-top: 10px;
}

.following {
	background: green;
	color: white;
}

.attending {
	background: blue;
	color: white;
}

.myEventHeaderSelected {
	border-bottom:2px solid green; 
	padding:10px; 
	color:green;
}

.myEventHeader {
	border:1px solid silver; 
	padding:10px; 
}

	
